.Navbar{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.logobox{
    width: 80vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}
.logobox img{
    height: 3.5rem;
}
.logobox span{
    font-weight: bold;
    font-size: 1.5rem; 
}
